---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Creación">
    <main>
        <Nav/>
        <Banner message='CREACIÓN'/>
        <section id="indice">
            <a href="#un">El Universo</a>
            <a href="#eo">El Origen</a>
            <a href="#ad">Antes y Después</a>
            <a href="#ef">El Final</a>
            <a href="#ot">Otras Teorías</a>
        </section>

        <section>
        <h2 id="un">El universo</h2>
        <h3>¿Qué es el universo?</h3>
        <div class="cont">
            <iframe width="860" height="255" src="https://www.youtube.com/embed/9vTC8co9YAA" frameborder="4px" allowfullscreen></iframe>
            <p>El universo es el conjunto de todas las entidades físicamente detectables que interactúan entre ellas dentro del espacio-tiempo de acuerdo a las leyes físicas definidas. 
                Su estudio, en las mayores escalas, es el objeto de la cosmología, disciplina basada en la astronomía y la física, en la cual se describen todos los aspectos de este universo con sus fenómenos. 
                <br>
                Basándose en observaciones del universo observable, los físicos intentan describir el continuo espacio-tiempo en el que nos encontramos, junto con toda la materia y energía existentes en él.
                Los experimentos sugieren que el universo se ha regido por las mismas leyes físicas, constantes a lo largo de su extensión e historia. Es homogéneo e isotrópico. 
                La fuerza dominante en distancias cósmicas es la gravedad, y la relatividad general es actualmente la teoría más exacta para describirla. Las otras tres fuerzas fundamentales, y las partículas en las que actúan, son descritas por el modelo estándar.
                <br>
                El universo tiene por lo menos tres dimensiones de espacio y una de tiempo, aunque experimentalmente no se pueden descartar dimensiones adicionales. 
                El espacio-tiempo parece estar conectado de forma sencilla, y el espacio tiene una curvatura media muy pequeña o incluso nula, de manera que la geometría euclidiana es, como norma general, exacta en todo el universo.
                Este es el modelo del Big Bang, que describe la expansión del espacio-tiempo a partir de una singularidad espaciotemporal. El universo experimentó un rápido periodo de inflación cósmica que arrasó todas las irregularidades iniciales. 
                <br>
                A partir de entonces el universo se expandió y se convirtió en estable, más frío y menos denso. Las variaciones menores en la distribución de la masa dieron como resultado la segregación fractal en porciones, que se encuentran en el universo actual como cúmulos de galaxias.
                Las observaciones astronómicas indican que el universo tiene una edad de 13 799±21 millones de años y por lo menos 93 000 millones de años luz de extensión.
                </p>
        </div>
    </section>

    <section>
        <h2 id="eo">El Origen</h2>
        <h3>La teoría del Big Bang</h3>
        <div class="cont">
            <p>
                La teoría más conocida sobre el origen del universo se centra en un cataclismo cósmico sin igual en la historia: el Big Bang. Esta teoría surgió de la observación del alejamiento a gran velocidad de otras galaxias respecto a la nuestra en todas direcciones, como si hubieran sido repelidas por una antigua fuerza explosiva.
                El hecho de que el universo esté en expansión se deriva de las observaciones del corrimiento al rojo realizadas en la década de 1920 y que se cuantifican por la ley de Hubble. Dichas observaciones son la predicción experimental del modelo de Friedmann-Robertson-Walker, que es una solución de las ecuaciones de campo de Einstein de la relatividad general, que predicen el inicio del universo mediante el big bang.
                El "corrimiento al rojo" es un fenómeno observado por los astrónomos, que muestra una relación directa entre la distancia de un objeto remoto (como una galaxia) y la velocidad con la que este se aleja. Si esta expansión ha sido continua a lo largo de la vida del universo, entonces en el pasado estos objetos distantes que siguen alejándose tuvieron que estar una vez juntos. 
                Esta idea da pie a la teoría del Big Bang, el modelo dominante en la cosmología actual.
                el universo no tiene centro como tal, porque ni el espacio ni el tiempo existían antes del big bang; por eso no se puede situar el origen en un punto concreto. Lo que sí sabemos es que el universo continúa expandiéndose y enfriándose. Además, sabemos que las galaxias se alejan entre sí y que lo hacen cada vez más rápido (acabamos de descubrir la galaxia más lejana conocida hasta ahora). Eso implica que hay algo (invisible e indetectable de forma directa) que las está ‘empujando’ y esto es lo que conocemos como materia oscura. 
            </p>
            <img src="https://cdn0.geoenciclopedia.com/es/posts/7/6/7/teoria_del_big_bang_resumen_e_importancia_767_orig.jpg" alt="">
        </div>
    </section>

    <section>
        <h2 id="ad">Antes y Después</h2>
        <h3>Antes</h3>
        <div class="cont">
            <img src="https://c.files.bbci.co.uk/9152/production/_100220273_2.jpg" alt="">
            <p>
                Antes del Big Bang, según los científicos, la inmensidad del universo observable, incluida toda su materia y radiación, estaba comprimida en una masa densa y caliente a tan solo unos pocos milímetros de distancia. Este estado casi incomprensible se especula que existió tan sólo una fracción del primer segundo de tiempo.
                Antes de que todo existiera, se piensa que el universo era poco más que una partícula subatómica que pasó a tener el tamaño de una bola de billar en una billonésima parte de segundo, lo cual supuso multiplicar prácticamente por 100 su tamaño.
                el universo es asombrosamente plano y uniforme. Es decir, en lugar de haberse producido una distribución caótica de materia y energía, todo parece estar aplanado y distribuido de manera constante, lo que implica que debió existir algún fenómeno que contribuyera a ello. Aquí entra en juego lo que los físicos denominan 
                inflación o era inflacionaria, un periodo en el que pudo producirse esta unificación de materia y energía que homogeneizó todo el cosmos. La teoría inflacionaraia fue propuesta por Alan Guth en 1981 y trataría de dar una explicación de qué tipo de fenómeno desencadenó el big bang y la posterior distribución de la materia. 
            </p>
        </div>
        <h3>Después</h3>
        <div class="cont">
            <p>
                El universo, después del big bang, empezó a enfriarse y, al expandirse, este enfriamiento produjo que tanta energía comenzara a estabilizarse. Los protones y los neutrones se «crearon» y se estabilizaron cuando el universo tenía una temperatura de 100 000 millones de grados, aproximadamente una centésima de segundo después del inicio. 
                Los electrones tenían una gran energía e interactuaban con los neutrones, que inicialmente tenían la misma proporción que los protones, pero debido a esos choques los neutrones se convirtieron más en protones que viceversa. La proporción continuó bajando mientras el universo se seguía enfriando; así, cuando el universo tenía 30 000 millones de grados (una décima de segundo) había treinta y ocho neutrones por cada sesenta y dos protones, y veinticuatro por setenta y seis cuando tenía 10 000 millones de grados (un segundo).
                Lo primero en aparecer fue el núcleo del deuterio, casi catorce segundos después, cuando la temperatura de 3000 millones de grados permitía a los neutrones y protones permanecer juntos. Para cuando estos núcleos podían ser estables, el universo necesitó algo más de tres minutos, cuando esa bola incandescente se había enfriado a unos 1000 millones de grados.
            </p>
            <img src="https://www.gaceta.unam.mx/wp-content/uploads/2019/04/Nota-Un-segundo-despu%C3%A9s-del-Big-Bang-imagen-destacada.jpg" alt="">
        </div>
    </section>

    <section>
        <h2 id="ef">El Final</h2>
        <p class="cont">El destino final del universo tiene diversos modelos que explican lo que sucederá en función de diversos parámetros y observaciones. De acuerdo con la teoría general de la relatividad, el destino final más probable dependerá del valor auténtico de la densidad de materia. En función de ese parámetro se barajan dos tipos de finales:</p>
        <h3>Big Crunch o la Gran Implosión</h3>
        <div class="cont">
            <img src="https://media.gq.com.mx/photos/6276979e98ce0267fa61099b/16:9/w_2992,h_1683,c_limit/Big%20Crunch.jpg" alt="">
            <p>
                Si el universo es suficientemente denso, es posible que la fuerza gravitatoria de toda esa materia pueda finalmente detener la expansión inicial, de tal manera que el universo volvería a contraerse, las galaxias empezarían a retroceder, y con el tiempo colisionarían entre sí. La temperatura se elevaría, y el universo se precipitaría hacia un destino catastrófico en el que quedaría reducido nuevamente a un punto.
                Algunos físicos han especulado que después se formaría otro universo, en cuyo caso se repetiría el proceso. A esta teoría se la conoce como la teoría del universo oscilante.
                Hoy en día esta hipótesis parece incorrecta, pues a la luz de los últimos datos experimentales, el universo se está expandiendo cada vez más rápidamente.
            </p>
        </div>
        <h3>Big Rip o Gran Desgarramiento</h3>
        <div class="cont">
            <p>
                El Gran Desgarramiento o Teoría de la Eterna Expansión, en inglés Big Rip, es una hipótesis cosmológica sobre el destino último del universo. Este posible destino final del universo depende de la cantidad de energía oscura existente en el universo. Si el universo contiene suficiente energía oscura, podría acabar en un desgarramiento de toda la materia.
                El valor clave es w, la razón entre la presión de la energía oscura y su densidad energética. A w -1, el universo acabaría por ser desgarrado. Primero, las galaxias se separarían entre sí, luego la gravedad sería demasiado débil para mantener integrada cada galaxia; los sistemas planetarios perderían su cohesión gravitatoria y, en los últimos minutos, se desbaratarían estrellas y planetas, y los átomos serían destruidos.
                Los autores de esta hipótesis calculan que el fin del tiempo ocurriría aproximadamente 3.5×1010 años después del Big Bang, es decir, dentro de 2.0×1010 años.  
                Una modificación de esta teoría, denominada Big Freeze, aunque poco aceptada[cita requerida], normalmente afirma que el universo continuaría su expansión sin provocar un Big Rip.
            </p>
            <img src="https://d7lju56vlbdri.cloudfront.net/var/ezwebin_site/storage/images/_aliases/img_1col/multimedia/fotografias/el-viscoso-camino-del-big-bang-al-big-rip/5443830-15-esl-MX/El-viscoso-camino-del-Big-Bang-al-Big-Rip.jpg" alt="">
        </div>
    </section>

    <section>
        <h2 id="ot">Otras teorías</h2>
        <div class="contenido">
            <h4>La teoría del universo cíclico</h4>
            <br>
            <p>Quizá te suene el nombre de Roger Penrose, dado que fue galardonado con el Premio Nobel de Física en 2020. Penrose es uno de los científicos actuales que más ha teorizado sobre el origen del universo. Propuso una teoría por la cual el universo pasaría por periodos de expansión y de contracción de manera cíclica; por tanto, ahora estaríamos pasando por uno de expansión. 
                Tal como se explica en este artículo de The Conversation, al periodo de contracción límite se le conocería como big crunch, que se volvería “matemáticamente idéntico al big bang”, que precedería a una nueva expansión.
            </p>
        </div>

        <div class="contenido">
            <h4>La teoría de los multiversos</h4>
            <br>
            <p>
                Según esta teoría, existiría un conjunto de universos diversos, y el nuestro constituiría solo un subconjunto pequeño del multiverso. Para que la teoría de los multiversos funcione, debemos suponer que existen al menos seis dimensiones (nosotros experimentamos solo tres); pero algunas teorías físicas –como la teoría de cuerdas, candidata a ‘teoría del todo’– sugieren que habría por lo menos once dimensiones.
            </p>
        </div>

        <div class="contenido">
            <h4>La teoría del estado estacionario</h4>
            <br>
            <p>
                La teoría del estado estacionario es una teoría cosmológica que propone que el universo no tiene principio ni fin y que siempre ha existido y existirá con las mismas propiedades. Según esta teoría, el universo se expande a un ritmo constante, pero la materia se crea continuamente en el espacio vacío para mantener la densidad del universo constante. De esta forma, el universo no cambia su aspecto a lo largo del tiempo y se mantiene en un estado estacionario.
            </p>
        </div>

        <div class="contenido">
            <h4>¿Vivimos en una simulación?</h4>
            <br>
            <p>
                Por último, existe una teoría no descartada completamente por la comunidad científica, y es que es posible que estemos viviendo en una especie de Matrix.

Por ejemplo, un cosmólogo del MIT llamado Max Tegmark afirmó en 2016 durante una conferencia en memoria de Isaac Asimov que las leyes matemáticas que rigen el universo podrían ser en realidad fruto de un algoritmo creado por una inteligencia distinta a la nuestra; o incluso –para terminar de reventarte el cerebro– que es la propia humanidad la que ha creado la simulación en un punto del futuro para recrear el pasado.
            </p>
        </div>
        <p id="one">Si quieres conocer más sobre estas y otras teorías da click en el siguiente link: <a href="https://concepto.de/origen-del-universo/">Origen del universo</a> </p>
        <br>
    </section>
</main>

<Footer/>
</Layout>

<style>
    main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#indice{
    border: 5px solid rgba(150, 165, 192, 0.795);
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    width: 82%;
    text-align: center;
}
a{
    color: white;
    margin-left: 30px;
    text-decoration: none;
}
section{
    background-color: black;
    color: white;
}

h2{
    border: 5px solid gold;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 30px;
}

h3{
    border: white 2px solid;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    font-size: 20px;
}

h4{
    border: white 2px solid;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 20px;

}

p{
    text-align: justify;
}

#one{
    text-align: center;
}

iframe{
 margin-right: 20px;
}

.cont{
    display: flex;
    align-items: center;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

section img{
    border: 5px solid;
    margin-right: 30px;
    margin-left: 30px;
    width: 300px;
}

.contenido{
    display: inline-block; 
    width: 40%; 
    margin: 0 1%; 
    vertical-align: top; 
    text-align: center;
    box-sizing: border-box; 
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
}

</style>