---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="Estrellas">
    <Nav/>
    <Banner message="Estrellas"/>
    <section id="indice">
        <a href="#qse">¿Qué son las estrellas?</a>
        <a href="#cf">¿Cómo se forman las estrellas?</a>
        <a href="#c">Características</a>
        <a href="#ej">Estrellas y Constelaciones</a>
        <a href="#te">Tipos de estrellas</a>
    </section>
    <section>
        <p id="qse">¿Qué son las estrellas?</p>
        <div class="cont">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Starsinthesky.jpg" width="20%" alt="">
        <p>Una estrella es cualquier cuerpo celeste que produce luz y calor debido a la actividad de su núcleo y que se encuentra conformado por helio e hidrógeno, principalmente. 
            El ejemplo más próximo a la Tierra es el Sol, pero los científicos calculan que, tan solo en la Vía Láctea, existen 300 mil millones de estrellas.
            <br>
            Una estrella (del latín: stella) es un objeto astronómico luminoso con forma de esferoide, que mantiene debido al equilibrio hidrostático alcanzado por su propia gravedad. 
            Otras estrellas son visibles a simple vista desde la Tierra durante la noche, apareciendo como una diversidad de puntos luminosos aparentemente fijos en el cielo debido a su distancia de la misma.
            Históricamente las estrellas más prominentes fueron agrupadas en constelaciones y asterismos, y las más brillantes fueron denominadas con nombres propios. 
            <br>
            Los astrónomos han recopilado un extenso catálogo, 
            proporcionando a las estrellas designaciones estandarizadas. Sin embargo la mayoría de las estrellas en el Universo, incluyendo todas las que están fuera de nuestra galaxia, la Vía Láctea, son invisibles a simple vista desde la Tierra. 
            De hecho, la mayoría son invisibles desde nuestro planeta incluso a través de los telescopios de gran potencia.</p>
        </div>
    </section>

    <section>
        <p id="cf"> ¿Cómo se forman las estrellas?</p>
        <div class="cont">
            <p>Una estrella puede nacer tanto en galaxias, como en diferentes lugares del espacio exterior dentro de nubes de gas y polvo llamadas nebulosas. La más famosa es la nebulosa de Orión, visible a simple vista, según información de la Agencia Espacial Europea (ESA).
                La NASA indica que la turbulencia dentro de estas nubes crea suficiente masa para que el gas y el polvo comiencen a colapsar bajo su atracción gravitacional.
                Entonces, cuando la estrella alcanza este estado, el material del centro se calienta y genera tres o cuatro burbujas. Estas bolas explican por qué la mayoría de las estrellas de la Vía Láctea están agrupadas en cúmulos de estrellas múltiples, explica la agencia espacial estadounidense.
                Este proceso genera explosiones y, así, nacen estrellas, afirma la NASA. Están alimentadas por fusión nuclear de hidrógeno para formar helio en lo profundo de sus interiores. Cuando una estrella fusiona todo el hidrógeno de su núcleo, cesan las reacciones nucleares.
                Pero no todo el material de las explosiones dentro de las nebulosas genera estrellas. El polvo restante puede convertirse en planetas, asteroides, cometas, o permanecer como polvo.</p>
                <br>
                <iframe width="860" height="255" src="https://www.youtube.com/embed/pPT_Clef9Xc" frameborder="4px" allowfullscreen></iframe>
        </div>
    </section>


          


    <section>
        <div>
            <p id="c">Características</p>
            <p class="te1">Algunas de las características de las estrellas son:</p>
            <div class="cont">
            <img src="https://www.pictoline.com/imgs/2017/03/01/a-2.png" alt="">
            <ol type="i" >
                <li>Están compuestas principalmente por hidrógeno y helio.</li>
                <br>
                <li>No se distribuyen de forma uniforme en el Universo, sino que tienden a agruparse hasta formar galaxias que además contienen polvo y gas. Hay algunas estrellas aisladas y otras que están dispuestas de forma muy cercana debido a la atracción gravitacional, formando sistemas.</li>
                <br>
                <li>Existen sistemas de estrellas binarias, que constan de 2 estrellas.</li>
                <br>
                <li>También hay sistemas de estrellas múltiples, los cuales consisten en 3 o más estrellas. Puede ser triple, cuádruple, quíntuple, séxtuple, séptuple, etcétera.</li>
                <br>
                <li>Emiten radiación como consecuencia de un proceso llamado fusión nuclear, que ocurre cuando 2 o más núcleos atómicos se unen y forman un nuevo núcleo atómico más pesado, tras lo cual se produce radiación electromagnética. Esto propicia que las estrellan emitan luz y produzcan energía.</li>
                <br>
                <li>Su color depende de la temperatura de sus capas más externas: mientras más fría es una estrella, más roja se ve. En cambio, las estrellas más calientes son azules.</li>
                <br>
                <li>Tienen un principio y un final como estrellas, tras lo cual la materia que las conforma se transforma en otra cosa. Por lo general, las estrellas tienen edades que están entre 1 y 10 mil millones de años.</li>
            </ol>
            
            </div>
    
        </div>
    </section>


    <section>
            <p id="ej"> Estrellas y Constelaciones</p>

            <p class="te">Algunas estrellas importantes</p>
            <br>

            <div class="contenido">
                <div class="subtitulo">
                    <h2>Canopo</h2>
                </div>
                <br>
                <p class="parrafo"> Canopo o Canopus era bien conocida por los antiguos y lleva el nombre de una ciudad en el norte de Egipto. Es la segunda estrella más brillante del cielo nocturno y es principalmente visible desde el hemisferio sur.
                    Canopo es una estrella que era muy conocida por los antiguos.
                    Canopus se encuentra a 74 años luz de nosotros y forma parte de la constelación de Carina. Los astrónomos la clasifican como una estrella tipo F, lo que significa que es ligeramente más caliente y más masiva que el Sol. También es una estrella más envejecida que éste.</p>
            </div>
                
            <div class="contenido">
                <div class="subtitulo">
                    <h2>Sirio</h2>
                </div>
                <br>
                <p class="parrafo">Sirio, también conocida como Dog Star, es la estrella más brillante del cielo nocturno. Su nombre proviene de la palabra griega que significa "abrasador". Muchas culturas tempranas tenían nombres para ella y tenía significados especiales en términos de rituales y las deidades que veían en el cielo.
                    Sirio o Sirius es visible desde finales de agosto (en las primeras horas de la mañana) hasta mediados o finales de marzo y se encuentra a 8,6 años luz de nosotros.
                En realidad, es un sistema estelar doble, con una estrella primaria muy brillante y una secundaria más tenue. Sirio o Sirius es visible desde finales de agosto (en las primeras horas de la mañana) hasta mediados o finales de marzo y se encuentra a 8,6 años luz de nosotros. Los astrónomos la clasifican como una estrella de tipo A1Vm, según su método que se realiza por sus temperaturas y otras características.</p>
            </div>

            <div class="contenido">
                <div class="subtitulo">
                    <h2>Rigel Kentaurus</h2>
                </div>
                <br>
                <p class="parrafo"> Rigel Kentauro, también conocida como Alpha Centauri, es la tercera estrella más brillante del cielo nocturno. Su nombre significa literalmente "pie del centauro" y proviene del término "Rijl al-Qanṭūris" en árabe. Es una de las más famosas del cielo, y quienes viajan por primera vez al hemisferio sur suelen estar ansiosos por verla.
                    Rigel Kentauro es una de las estrellas más famosas del cielo.
                    Pero no es solo una estrella. En realidad, es parte de un sistema de tres, con cada una dando vueltas con las demás en un baile intrincado. Se encuentra a 4,3 años luz de nosotros y forma parte de la constelación de Centauro.
                    Los astrónomos clasifican a Rigel Kentaurus como una estrella de tipo G2V, similar a la clasificación del Sol. Puede tener aproximadamente la misma edad que éste y se encuentra aproximadamente en el mismo período evolutivo de su vida.</p>
            </div>
            <br>
            <br>

            <p class="te">Algunas constelaciones importantes:</p>
            <br>
            <br>

            <div class="contenido">
                <div class="subtitulo">
                    <h2>Andromeda</h2>
                </div>
                <br>
                <p class="parrafo"> Representa a la princesa del mismo nombre, hija de Cefeo y Casiopea, quien según la mitología griega fue encadenada a una roca para ser devorada por Ceto, un monstruo marino, pero después rescatada por Perseo. 
                    Esta constelación, una de las más grandes conocidas, cuenta con 152 estrellas, de las cuales la más brillante es Alpheratz (alfa andromedae).</p>
            </div>
                
            <div class="contenido">
                <div class="subtitulo">
                    <h2>Orión</h2>
                </div>
                <br>
                <p class="parrafo">Representa al máximo cazador de la Grecia Antigua, visible como un guerrero que sostiene su arma y su escudo. Dicho cazador era el protagonista de numerosos mitos griegos, en algunos de los cuales era el perseguidor de las pléyades, 
                    las hijas del titán Atlas. Esta constelación es visible tanto desde el hemisferio norte como el sur, y es reconocible por las tres estrellas cercanas que conforman su cinturón. En total, Orión consta de 204 estrellas, de las cuales Rigel (beta orionis) 
                    es la principal y más brillante.</p>
            </div>

            <div class="contenido">
                <div class="subtitulo">
                    <h2>Casiopea</h2>
                </div>
                <br>
                <p class="parrafo"> Representa a Casiopea, esposa del rey de Etiopía según la mitología griega, cuya belleza y vanidad causaron la ira del dios Poseidón, quien envió un monstruo marino a azotar las costas de su reino. Esta constelación consta de 157 estrellas, 
                    de las cuales la más brillante es Tsih (gamma cassiopeiae).</p>
            </div>
            <br>
            <br>
            <p id="lin">Si quieres conocer más sobre constelaciones, solo da click en el siguiente link: 
                <a href="https://www.planetario.net/constelaciones/">Constelaciones Planetario</a>
            </p>
            
    </section>

    <section>
        <div>
            <p id="te">Tipos de estrellas</p>

            <p>Según describe Universe Exploration de la NASA, podemos clasificar a las estrellas en cinco grandes tipos:</p>
            <br>
            <p class="sub">Gigantes Rojas</p>
            <div class="cont">
                <p class="parrafo">Una estrella de secuencia principal de menos de ocho veces la masa del Sol que se queda sin hidrógeno en su núcleo comienza a colapsar, “porque la energía producida por la fusión es la única fuerza que combate la tendencia de la gravedad de unir la materia”, explica la agencia espacial. También aumenta la temperatura y la presión, y se ve más anaranjada que roja.
                    Luego, se vuelve inestable y comienza a pulsar, expandiéndose y expulsando parte de su atmósfera. Eventualmente, todas sus capas exteriores desaparecen, creando una nube de polvo y gas en expansión llamada nebulosa planetaria.</p>
                <img src="https://quo.eldiario.es/wp-content/uploads/2022/01/3_RedNASA-950x564.jpg" alt="">
                </div>
            
        
            <p class="sub">Enanas Blancas</p>
            <div class="cont">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Sirius_A_and_B_artwork.jpg/325px-Sirius_A_and_B_artwork.jpg" alt="">
                <p class="parrafo">Después de que una gigante roja se despoja de toda su atmósfera solo queda el núcleo, convirtiéndose en una enana blanca. Suelen ser del tamaño de la Tierra, pero cientos de miles de veces más masiva. De hecho, una cucharadita de su material pesaría más que una camioneta, ilustra la NASA.
                    Además, no produce calor nuevo por sí misma y se enfría gradualmente. Su luz va del blanco azulado al rojo. En unos 10 mil millones de años se calcula que el Sol se convertirá en una enana blanca.</p>
                <br>
            </div>
            
            <p class="sub">Estrellas de neutrones</p>
            <br>
            <div class="cont">
                <p class="parrafo">Se trata de remanentes estelares que acumulan más masa que el Sol en una esfera tan ancha como la isla de Manhattan en Nueva York y se forman cuando una estrella de secuencia principal con entre ocho y 20 veces la masa del Sol se queda sin hidrógeno en su núcleo. El resultado final es una gran explosión llamada supernova. 
                    Se distinguen dos tipos: los púlsares que giran rápidamente más rápido que las cuchillas de una licuadora, y los magnetares que pueden ser hasta 10 billones de veces más fuerte que un imán de heladera.</p>
                <img src="https://i.blogs.es/9aceb8/estrellaneutronesap/450_1000.jpeg" alt="">
            </div>
            
            <p class="sub">Enanas Rojas</p>
            <br>
            <div class="cont">
                <img src="https://www.ngenespanol.com/wp-content/uploads/2023/07/enanas-rojas-que-son-cuantas-hay-y-como-se-forman.jpg" alt="">
                <p class="parrafo">Se trata de las estrellas de secuencia principal más pequeñas, también son más anaranjadas que rojas. Actualmente se calcula que aquellas con sólo un tercio de la masa del Sol tienen vidas más largas que la edad actual del universo, hasta unos 14 billones de años. Además, nacen en cantidades mucho mayores que las estrellas más masivas.</p>
            </div>
            <br>
            <p class="sub">Enanas Marrones</p>
            <div class="cont">
                <p class="parrafo">Son más masivas que los planetas pero no tanto como las estrellas. Casi no emiten luz visible, aunque sí infrarroja. Algunas de ellas se forman de la misma manera que las estrellas de secuencia principal, a partir de acumulaciones de gas y polvo en las nebulosas, pero nunca ganan suficiente masa, otras pueden formarse como planetas.</p>
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Artist%E2%80%99s_conception_of_a_brown_dwarf_like_2MASSJ22282889-431026.jpg" alt="">
            </div>
            <br>
        </div>
        <br>
    </section>
    <Footer/>
</Layout>

<style>

#indice{
    border: 5px solid rgba(150, 165, 192, 0.795);
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    width: 82%;
    text-align: center;
}
a{
    color: white;
    margin-left: 30px;
    text-decoration: none;
}
    #qse{
    border: 5px solid gold;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 30px;
    color: white;
}

#cf{
    border: 5px solid white;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 30px;
    color: white;
}

.es{
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
    color: white;
}

#c{
    border: 5px solid gold;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 30px;
    color: white;
}

#ej{
    border: 5px solid white;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 30px;
    color: white;
}

#te{
    border: 5px solid gold;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 30px;
    color: white;
}

section img{
    border: 5px solid;
    
    width: 300px;
    
}

.cont{
    display: flex;
    align-items: center;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

ol{
    padding: 15px;
    margin: 10px;
    color: white;
}

.contenido{
    display: inline-block; 
    width: 30%; 
    margin: 0 1%; 
    vertical-align: top; 
    text-align: center;
    box-sizing: border-box; 
    color: white;
}

p{
    text-align: justify;
    font-size: 17px;
    margin: 4px;
    color: white;
}
.parrafo{
    text-align: justify;
    font-size: 17px;
    color: white;
}

li{
    text-align: justify;
    font-size: 17px;
    color: white;
}

.te{
    border: rgb(161, 180, 207) solid 2px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.te1{
    text-align: center;
    font-size: 20px;
    color: white;
}

h2{
    font-size: 27px;
    color: white;
}
.sub{
    border: rgb(161, 180, 207) solid 2px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    
}

iframe{
    margin: 5px;
    margin-left: 10px;
}

#lin{
    text-align: center;
}

</style>