---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="Eventos">
    <Nav/>
    <Banner message="Eventos Astronomicos"/>
     <!--SECCION 1 -->
     <section class="seccion_1" id="cuasares">
        <article class="caja_derecha">
            <div class="titulo_derecho">
                <h2>Cuásares</h2>
            </div>
                        
            <p class="parrafo_derecho">De acuerdo con EarthSky, los cuásares, aunque en un principio confundieron a los científicos que creyeron que eran estrellas, 
                son galaxias jóvenes, situadas a grandes distancias de la Tierra, cuyo número aumenta hacia el borde del universo visible.
                Te puede interesar: Descubren el agujero negro más antiguo del universo: es 10 millones de veces más pesado que el Sol.</p>
            <p class="parrafo_derecho">A lo anterior, el Instituto de Física de Cantabria añade que estas galaxias extremadamente 
                lejanas albergan en su centro un agujero negro supermasivo (de hasta mil millones de masas 
                solares). Este atrae la materia cercana, la cual, en buena parte, se compone de gas y polvo. 
                Al momento de engullir, el agujero negro provoca grandes explosiones, dando lugar a esa 
                luminosidad que los astrónomos han podido detectar. Así se forma un cuásar.</p>
            <div class="imagen_izquierda_seccion1">
                <img src="cuasar.jpeg" alt="">
                
            </div>
            
        </article>

        

    </section>

    <!--SECCION 2 -->
    <section class="seccion_2" id="pilares_de _la_Creación">
        <article class="caja_derecha">
            <div class="titulo_derecho">
                <h2>Pilares de la creación</h2>
            </div>
            
            <p class="parrafo_izqueirdo_seccion2">En el caso de los Pilares de la Creación, las dos imágenes que aportó el telescopio vienen 
                de la Nebulosa del Águila. Originalmente, el Hubble tomó una imagen similar con luz visible, 
                «mostrando una nube opaca de gas y polvo», documenta la NASA. La agencia espacial hizo una 
                comparativa con la fotografía que registró el James Webb, que reveló las «estrellas detrás de la 
                nebulosa y escondidas dentro de los pilares«.</p>

        </article>
        <aside class="caja_derecha_seccion2">
            
            <div class="imagen_izquierda_seccion2">
                <iframe width="460" height="250" src="https://www.youtube.com/embed/-xGPFbAFlyE?si=knA4kXLwONlcxexX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </aside>
        
    </section>

    <!--SECCION 3 -->
    
    <section class="seccion_3" id="pulsares"> 
        <div class="titulo_derecho_seccion_3">
            <h2>Púlsares</h2>
        </div>
        <div class="contenido_seccion3">
            <article class="caja_izqueirda_seccion3">
            
            
                <p class="parrafo_izqueirdo_seccion2">De acuerdo con Space.com, los púlsares son estrellas de neutrones que giran rápidamente y 
                    emiten pulsos de radiación a intervalos regulares que oscilan entre segundos y milisegundos. 
                    Estos objetos cósmicos canalizan partículas por medio de los campos magnéticos de sus polos, 
                    acelerándolas a velocidades relativistas. De esa actividad se generan dos haces de luz, uno por 
                    cada polo.Lo que en un principio desconcertó a los científicos que descubrieron a los púlsares 
                    fue la periodicidad con la cual sus señales se reproducen. Esta se ocasiona gracias a que los 
                    haces de luz cruzan la línea de visión de la Tierra, pero en cuanto la luminosidad se aleja 
                    pareciera que ella se apaga, dando lugar a esos periodos del púlsar.
                </article></p>

            </article>
            <aside class="caja_derecha_seccion3">
                <div class="imagen_izquierda_seccion3">
                    <iframe width="460" height="250" src="https://www.youtube.com/embed/pCJTBx04dBg" title="¿QUÉ ES UN PÚLSAR? - Ciencias Para Todo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
            </aside>

        </div>
        
    </section>

    <!--SECCION 4 -->
    <section class="seccion_2" id="agujeros_Negros">
        <article class="caja_derecha">
            <div class="titulo_derecho">
                <h2>Agujeros Negros</h2>
            </div>
            
            <p class="parrafo_izqueirdo_seccion2">«Un agujero negro es un objeto astronómico con una atracción gravitatoria tan fuerte que nada, 
                ni siquiera la luz, puede escapar de él», explica la NASA. De hecho, en su plataforma Space Place, 
                la agencia espacial documenta que no están huecos en lo absoluto:</p>
            <p class="parrafo_izqueirdo_seccion2">De hecho, estos objetos cósmicos figuran entre los más pesados del Universo. A su vez, su fuerza 
                gravitatoria es tan poderosa, que ni siquiera la luz puede escapar. En lugar de reflejar el brillo 
                de otros elementos en el espacio exterior, se lo tragan para siempre. Lo mismo ocurre con cualquier 
                tipo de materia que se les acerque demasiado, añade la NASA.</p>

        </article>
        <aside class="caja_derecha_seccion2">
            
            <div class="imagen_izquierda_seccion2">
                <iframe width="460" height="250" src="https://www.youtube.com/embed/5WzGS1W55d4?si=5KGsvjuvnhkxo04i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </aside>
        
    </section>
    <Footer/>
</Layout>

<style>
    .seccion_1{
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}

.caja_derecha{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 2%;
}

.titulo_derecho{
    text-align: center;
}

.titulo_derecho h2{
    font-size: 28px;
    padding: 10px;
}

.parrafo_derecho{
    font-size: 18px;
    padding: 10px;
    
}
.imagen_izquierda_seccion1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.imagen_izquierda_seccion1 img{
    object-fit:fill;
    width: 100%;
    height: 200px;
    margin: 10px 20px;
    border-radius: 1%;
    padding-bottom: 4%;
    
}

.seccion_2{
    color: rgb(255, 255, 255);
    background-color: rgb(42, 42, 42);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}
.caja_derecha_seccion2{
    width: 40%;
    height: 100%;
    padding: 0 1%;
    align-content: center;
}

.parrafo_derecha_seccion2{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 4px 0;
    width: 100%;
    font-size: 17px;
    padding: 10px;
}

.parrafo_izqueirdo_seccion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    
}
.parrafo_izqueirdo_seccion2 span{
    font-weight:bolder;
    color: rgb(186, 158, 158);
    
}
.imagen_izquierda_seccion2{
    width: 100%;
    align-items: center;
}

.imagen_izquierda_seccion2 img{
    object-fit: cover;
    width: 100%;
    margin: 5px 0;
    border: 5px solid;
}

.seccion_3{
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}
.titulo_derecho_seccion_3{
    text-align: center;
    justify-content:center;
    margin-bottom: 15px;
}
.contenido_seccion3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.caja_izqueirda_seccion3{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 3%;
}

.caja_derecha_seccion3{
    width: 50%;
    height: 100%;
    /*background-color: blueviolet;*/
    padding: 0 1%;
}

.imagen_izquierda_seccion3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.imagen_izquierda_seccion3 img{
    object-fit: cover;
    width: 100%;
    margin: 10px 20px;
    border: 5px solid;
}

</style>