---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="Galaxias">

    <Nav/>
    <Banner message="Galaxias"/>
      <!--SECCION 1 -->
      <section class="seccion_1" id="que_son">
        <div class="titulo_izquierdo_seccion1">
            <h2>¿Qué son las galaxias?</h2>
        </div>

        <div class="contenido_seccion1">
            <article class="caja_izquierda_seccion1">
                        
                <p class="parrafo_izquierdo_seccion1">Las galaxias, las joyas del firmamento, son verdaderamente titánicas en su escala y complejidad. Son vastas ciudades cósmicas, vastas extensiones donde la materia y la energía se entrelazan en una danza cósmica que desafía nuestra comprensión. Cada galaxia es un impresionante collage de estrellas, gas, polvo interestelar y misteriosa materia oscura, cada uno de estos elementos desempeñando un papel crucial en la formación y evolución del cosmos.</p>
                
                <div class="imagen_izquierda_seccion1">
                    <iframe width="460" height="270" src="https://www.youtube.com/embed/wugTmq_TmEw?si=t64QhEST_XyOFjcK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                            
                </div>
            </article>
            <aside class="caja_derecha_seccion1">
                <div class="subtitulo_seccion1">
                    <h3>COMPOSICIÓN</h3>
                </div>

                <div>
                    <div class="subtitulo_seccion1_h4">
                        <h4>Estrellas:</h4>
                    </div>
                    <p class="parrafo_derecha_seccion1_subtema">Las estrellas, con su resplandor y energía, son los actores principales en el drama cósmico de las galaxias. Desde estrellas masivas que brillan intensamente hasta diminutas enanas rojas que arden débilmente, cada una contribuye a la riqueza y diversidad de una galaxia.</p>
                </div>

                <div>
                    <div class="subtitulo_seccion1_h4">
                        <h4>Gas y Polvo Interestelar:</h4>
                    </div>
                    <p class="parrafo_derecha_seccion1_subtema">Entre las estrellas yacen vastas extensiones de gas y polvo cósmico. Estas nubes interestelares no solo proporcionan el material para la formación de nuevas estrellas y sistemas planetarios, sino que también son los viveros de procesos físicos y químicos fundamentales en el universo.</p>
                </div>

                <div>
                    <div class="subtitulo_seccion1_h4">
                        <h4>Materia Oscura:</h4>
                    </div>
                    <p class="parrafo_derecha_seccion1_subtema">Aunque enigmática y escurridiza, la materia oscura constituye la mayor parte de la masa de una galaxia. A diferencia de la materia ordinaria, no emite, absorbe ni refleja la luz, lo que la hace invisible para nuestros instrumentos de detección directa. Sin embargo, su presencia se manifiesta a través de su influencia gravitacional en la materia visible.</p>
                </div>
                

            </aside>
        </div>
        
    </section>

     <!--SECCION 2 -->
     <section class="seccion_2" id="clasificacion">
        <article>
            <div class="titulo_seccion_2">
                <h2>Clasificación</h2>
            </div>

            <div class="contenido_seccion2">
                
                <div class="caja_seccion2">
                    <div class="subtitulo_seccion2">
                        <h3>Galaxias Espirales:</h3>
                    </div>
                
                    <p class="parrafo_seccion2">Las galaxias espirales son como poesía en movimiento en el vasto lienzo del cosmos. Se distinguen por sus brazos en espiral que serpentean alrededor de un centro bulbo, formando patrones intrincados y hermosos. Un ejemplo arquetípico de esta clase es nuestra propia Vía Láctea, una espiral majestuosa que alberga nuestro sistema solar y una miríada de estrellas y mundos.</p>
                
                    <div class="imagen_seccion2">
                        <img src="https://img.europapress.es/fotoweb/fotonoticia_20110715192903_1200.jpg" alt="Galaxias Espirales">
                    </div>
                </div>

                <div class="caja_seccion2">
                    <div class="subtitulo_seccion2">
                        <h3>Galaxias Elípticas:</h3>
                    </div>
                    
                    <p class="parrafo_seccion2">En marcado contraste con la gracia dinámica de las espirales, las galaxias elípticas irradian una tranquilidad serena con sus formas redondeadas o elipsoidales. Carecen de las estructuras distintivas como los brazos en espiral y se caracterizan por una distribución más uniforme de las estrellas. A menudo, estas galaxias albergan poblaciones estelares más antiguas y maduras.</p>
                
                    <div class="imagen_seccion2">
                        <img src="https://www.globalastronomia.com/wp-content/uploads/2020/01/ngc-474.jpg" alt="Galaxias Elípticas">
                    </div>
                </div>

                <div class="caja_seccion2">
                    <div class="subtitulo_seccion2">
                        <h3>Galaxias Irregulares:</h3>
                    </div>
                    
                    <p class="parrafo_seccion2">En el vasto panorama del universo, algunas galaxias desafían cualquier intento de clasificación ordenada. Las galaxias irregulares, como su nombre sugiere, no tienen una forma definida y pueden presentar una variedad desconcertante de estructuras y patrones. Estas galaxias pueden ser el resultado de interacciones gravitacionales tumultuosas con otras galaxias, creando paisajes cósmicos caóticos y eclécticos.</p>
                    <div class="imagen_seccion2">
                        <img src="https://www.meteorologiaenred.com/wp-content/uploads/2020/08/poblaciones-estelares.jpg" alt="Galaxias Irregulares">
                    </div>
                </div>
            </div>

        </article>
        

    </section>

    <!--SECCION 3 -->
    <section class="seccion_3" id="como_se_forman">
        <article>
            <div class="titulo_seccion_3">
                <h2>¿Cómo se forman?</h2>
            </div>

            <div class="contenido_seccion3">
                
                <div class="caja_seccion3">
                    <div class="subtitulo_seccion3">
                        <h3>1.Semillas Cósmicas:</h3>
                    </div>
                
                    <p class="parrafo_seccion3">El proceso de formación de galaxias comienza con pequeñas fluctuaciones cuánticas en la densidad de la materia en el universo temprano, conocidas como "semillas cósmicas". Estas fluctuaciones se amplifican debido a la gravedad, creando regiones ligeramente más densas que actúan como puntos de atracción gravitacional para la materia circundante.</p>
                
                </div>

                <div class="caja_seccion3">
                    <div class="subtitulo_seccion3">
                        <h3>2.Colapso Gravitacional:</h3>
                    </div>
                
                    <p class="parrafo_seccion3">A medida que estas regiones densas de materia colapsan bajo su propia gravedad, se forman estructuras cada vez más grandes, atrayendo más materia y energía hacia ellas. Este proceso conduce a la formación de estructuras a gran escala, como cúmulos de galaxias y filamentos cósmicos.</p>
                
                </div>

                <div class="caja_seccion3">
                    <div class="subtitulo_seccion3">
                        <h3>3.Fusión y Colisión:</h3>
                    </div>
                
                    <p class="parrafo_seccion3">A lo largo del tiempo, estas estructuras más pequeñas se fusionan y colisionan, formando galaxias más grandes y complejas. Durante estas interacciones, la materia se comprime y se calienta, lo que conduce a la formación de estrellas y sistemas planetarios dentro de las galaxias.</p>
                
                </div>

                <div class="caja_seccion3">
                    <div class="subtitulo_seccion3">
                        <h3>4.Evolución Galáctica:</h3>
                    </div>
                
                    <p class="parrafo_seccion3">A medida que las galaxias continúan interactuando y evolucionando, experimentan una variedad de procesos dinámicos, como la formación de agujeros negros supermasivos en sus centros, la fusión de galaxias, y la formación de nuevas estrellas a partir del gas y el polvo interestelar.</p>
                
                </div>

                <div class="caja_seccion3">
                    <div class="subtitulo_seccion3">
                        <h3>5.Influencia de la Materia Oscura:</h3>
                    </div>
                
                    <p class="parrafo_seccion3">La materia oscura, que constituye la mayor parte de la masa en el universo, también desempeña un papel crucial en la formación y evolución de las galaxias. Aunque no se puede observar directamente, su presencia se detecta a través de sus efectos gravitacionales en la materia visible.</p>
                
                </div>

            </div>
        </article>
    </section>
    <Footer/>
</Layout>

<style>
    .seccion_1{
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    padding: 2% 0;
}
.contenido_seccion1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:start;
    
}

.titulo_izquierdo_seccion1{
    text-align: center;
    justify-content:center;
    margin-bottom: 15px;
}

.titulo_izquierdo_seccion1 h2{
    font-size: 28px;
    padding: 7px;
}

.caja_izquierda_seccion1{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 2%;
}

.parrafo_izquierdo_seccion1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    text-align:left;
    
}

.imagen_izquierda_seccion1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    
}

.imagen_izquierda_seccion1 img{
    object-fit: cover;
    width: 60%;
    align-items: center;
    border: 5px solid;
}

.caja_derecha_seccion1{
    width: 55%;
    height: 100%;
    /*background-color: blueviolet;*/

}

.subtitulo_seccion1{
    text-align: center;
}

.subtitulo_seccion1_h4{
    font-size: 17px;
    font-weight: bold;
    padding: 1% 0;
}

.parrafo_derecha_seccion1_subtema{
    font-size: 15px;
    padding: 1% 0;
    padding-right: 2%;
}

.seccion_2{
    color: rgb(255, 255, 255);
    background-color: rgb(42, 42, 42);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}

.titulo_seccion_2{
    text-align: center;
    justify-content:center;
    margin-bottom: 15px;
    font-size: 24px;

}

.caja_seccion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    margin: 2%;
    border-radius: 5%;
}

.contenido_seccion2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:start;
    
}

.subtitulo_seccion2{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
    
}

.parrafo_seccion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    padding: 7px;
    margin: 2%;
}

.imagen_seccion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.imagen_seccion2 img{
    object-fit: cover;
    width: 78%;
    padding: 4%;
    align-items: center;
    border-radius: 10%;
    
}

.seccion_3{
    color: rgb(255, 255, 255) ;
    background-color:  rgb(25, 25, 25);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}

.titulo_seccion_3{
    text-align: center;
    justify-content:center;
    margin-bottom: 15px;
    font-size: 24px;

}

.caja_seccion3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    background-color: rgba(87, 87, 87, 0.142);
}

.subtitulo_seccion3{
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 20px;
}

.parrafo_seccion3{
    padding: 1%;
    font-size: 18px;
}

</style>