---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ncuenta">
    <body>
        <div class="container">
            <div class="left-side">
                <img src="https://i.pinimg.com/564x/e9/b5/cd/e9b5cdc119c4a43407d7a739cd4b2ee9.jpg" alt="Astronaut">
                <br>
                <h1>BIENVENIDO</h1>
                <h1>Crea tu cuenta</h1>
            </div>
            <div class="right-side">
                <form action="Crearcuenta">
                    <label for="name">Nombre(s):</label>
                    <input type="text" id="n" required placeholder="Nombre(s)">
                    <label for="lastn">Apellidos:</label>
                    <input type="text" id="ln" required placeholder="Apellidos">
                    <label for="e">Edad:</label>
                    <input type="number" id="ed" min="0" max="100" required placeholder="Edad">
                    <label for="c">Correo electrónico:</label>
                    <input type="email" id="co" required placeholder="Correo electrónico">
                    <label for="f">Fecha de nacimiento:</label>
                    <input type="date" id="dt" required>
                    <label for="contraseña">Contraseña:</label>
                    <input type="password" id="cts" required placeholder="Ingresa la contraseña">
                    <label for="contraseña">Confirmar contraseña:</label>
                    <input type="password" id="ct" required placeholder="Ingresa la contraseña">
                    <input type="submit" value="Crear Cuenta">
                </form>
                <p>¿Ya tienes cuenta? <a href="cuenta.html">Inicia sesión aquí</a></p>
            </div>
        </div>
    </body>
</Layout>

<style> 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left-side {
            flex: 1;
            background-color: #4b448d;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

.right-side {
    flex: 1;
    padding: 20px;
}

img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="date"],
        input[type="number"] {
            width: calc(100% - 22px); /* El 22px es el padding total (10px en cada lado) */
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4b448d;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin-top: 20px;
    font-size: 14px;
}

a {
    color: #4b448d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
</style>