---
import Banner from "../components/Banner.astro"
import Nav from "../components/Nav.astro"
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Nebulosas">
    <Nav/>
    <Banner message="Nebulosas"/>
    <section id="indice">
        <a href="#que_son">¿Qué son las nebulosas?</a>
        <a href="#como_se_forman">¿Cómo se forman las nevulosas??</a>
        <a href="#donde_estan">¿Donde están las nebulosas?</a>
        <a href="#tipos_nubelosas">Tipos de nebulosas</a>
    </section>
    <section class="seccion_1" id="que_son">
        <article class="caja_derecha">
            <div class="titulo_derecho">
                <h2>¿Qué son las nebulosas?</h2>
            </div>
                        
            <p class="parrafo_derecho">Las <span>nebulosas</span> son grandes nubes formadas principalmente de gas y polvo. El gas que las forma es fundamentalmente hidrógeno y helio, pero no por ello las <span>nebulosas</span> son siempre iguales. Así pues, existen <span>nebulosas</span> de tipos muy diferentes, tanto por sus características como por su origen.  </p>
            <p class="parrafo_derecho">En este sentido encontramos nebulosas con orígenes totalmente opuestos. Por ejemplo, existen nebulosas de las que nacen las estrellas y nebulosas que se forman cuando muere una estrella.</p>
            <div class="imagen_izquierda_seccion1">
                <img src="https://s1.eestatic.com/2023/02/03/actualidad/738686885_230641236_1706x960.jpg" alt="">
            </div>
        </article>
    
        <aside class="caja_izquierda">
            <div class="titulo_izquierda">
                <h3>Características de las nebulosas</h3>
            </div>
    
            <div class="parrafo_izquierda">
                <div class="caracteristicas_nube">
                    <h4>Composición</h4>
                    <p> Las nebulosas están compuestas principalmente de gas (como hidrógeno y helio) y polvo cósmico. También pueden contener trazas de otros elementos y compuestos.</p>
    
                </div>
            </div>
    
            <div class="parrafo_izquierda">
                <div class="caracteristicas_nube">
                    <h4>Tamaño y forma</h4>
                    <p>Las nebulosas pueden tener una amplia variedad de tamaños y formas. Algunas son pequeñas y compactas, mientras que otras son enormes y extendidas a lo largo de miles de años luz. Sus formas pueden ser irregulares, esféricas, o alargadas, dependiendo de varios factores, incluyendo la actividad estelar cercana y los efectos de la radiación.</p>
    
                </div>
            </div>
    
            <div class="parrafo_izquierda">
                <div class="caracteristicas_nube">
                    <h4>Color y brillo</h4>
                    <p>Las nebulosas pueden variar en color y brillo dependiendo de su composición y la luz que reciben de las estrellas cercanas. Algunas pueden aparecer brillantes y coloridas debido a la emisión de luz propia, mientras que otras pueden ser oscuras y difíciles de observar directamente.</p>
    
                </div>
            </div>
    
            </div>
            </div>
        </aside>
    
    </section>
    
    <!--SECCION 2 -->
    <section class="seccion_2" id="como_se_forman">
        <article class="caja_derecha">
            <div class="titulo_derecho">
                <h2>¿Cómo se forman las nebulosas?</h2>
            </div>
            
            <p class="parrafo_izqueirdo_seccion2"><span>Nebulosas de emisión:</span> Estas nebulosas se forman cuando el gas en una región del espacio se excita y emite luz visible o luz de longitud de onda más larga, como luz roja o infrarroja. Esto puede ocurrir debido a la radiación de estrellas cercanas jóvenes y calientes, que ionizan el gas de la nebulosa, haciéndolo brillar.</p>
            <p class="parrafo_izqueirdo_seccion2"><span>Nebulosas de reflexión:</span> Estas nebulosas se forman cuando la luz de una estrella cercana se refleja en el polvo de una nube interestelar. Esto puede crear una apariencia azulada debido a que el polvo tiende a reflejar la luz azul con mayor eficacia que otras longitudes de onda.</p>
            <p class="parrafo_izqueirdo_seccion2"><span>Nebulosas oscuras:</span>Nebulosas oscuras: A menudo, estas nebulosas se forman en regiones donde el polvo interestelar bloquea la luz de las estrellas detrás de ellas, creando áreas de oscuridad en el cielo. Aunque no emiten luz visible, pueden ser detectadas por su bloqueo de la luz de estrellas y nebulosas brillantes detrás de ellas.</p>
            <p class="parrafo_izqueirdo_seccion2"><span>Nebulosas planetarias:</span> Estas nebulosas se forman cuando una estrella similar al Sol llega al final de su vida y comienza a perder sus capas externas. El gas y el polvo expulsados por la estrella forman una nebulosa brillante y colorida alrededor del núcleo estelar en contraste con la luz estelar restante.</p>
    
        </article>
        <aside class="caja_derecha_seccion2">
            
            <p class="parrafo_derecha_seccion2">Estos son solo algunos ejemplos de los procesos y condiciones que pueden dar lugar a la formación de nebulosas en el universo. Cada tipo de nebulosa tiene su propia historia y origen único, lo que contribuye a la diversidad y belleza del cosmos.</p>
            <div class="imagen_izquierda_seccion2">
                <img src="https://www.mdscc.nasa.gov/wp-content/uploads/2022/12/stsci-01gkmkkhkk7hr64v5hgx4gms9k_0.png" alt="">
                <img src="https://editorial.aristeguinoticias.com/wp-content/uploads/2022/10/pilares-tierra-nebulosa-james-webb-23102022.jpg" alt="">
            </div>
        </aside>
        
    </section>
    
    <!--SECCION 3 -->
    
    <section class="seccion_3" id="donde_estan"> 
        <div class="titulo_derecho_seccion_3">
            <h2>¿Donde estan las nebulosas?</h2>
        </div>
        <div class="contenido_seccion3">
            <article class="caja_izqueirda_seccion3">
            
            
                <p class="parrafo_izqueirdo_seccion2">Las nebulosas se encuentran dispersas por todo el universo, desde nuestra propia galaxia, la Vía Láctea, hasta galaxias distantes. Se pueden encontrar en diferentes regiones del espacio, incluyendo nebulosas dentro de nuestra galaxia y en otras galaxias fuera de la Vía Láctea. Por ejemplo, la Nebulosa de la Tarántula es una nebulosa gigante en la Gran Nube de Magallanes, una galaxia satélite de la Vía Láctea.</p>
                <p class="parrafo_izqueirdo_seccion2">Además, las nebulosas también se encuentran en nebulosas interestelares, nubes de gas y polvo dispersas por todo el espacio interestelar entre las estrellas. Estas nebulosas pueden ser el lugar de formación de nuevas estrellas y sistemas planetarios. Las nebulosas planetarias, por otro lado, son el resultado de la muerte de estrellas similares al Sol y se pueden encontrar en diferentes partes de la Vía Láctea y otras galaxias.</p>
    
            </article>
            <aside class="caja_derecha_seccion3">
                <div class="imagen_izquierda_seccion3">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ipP29-HbLzE?si=j4kIqd1awZZXNovd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                 </div>
            </aside>
    
        </div>
        
    </section>
    
    <!--SECCION 4 -->
    <section class="seccion_4" id="tipos_nubelosas">
        <article>
            <div class="titulo_derecho_seccion_3">
                <h2>Tipos de nebulosas</h2>
            </div>
    
            <div class="contenido_seccion4">
                
            <div>
                <div class="subtitulo_seccion4">
                    <h3>Nebulosas de emisión</h3>
                </div>
               
                <p class="parrafo_seccion4">Las nebulosas de emisión son aquellas que brillan con luz propia. Las estrellas cercanas excitan el gas de la nebulosa, provocando su ionización. De esta forma, el gas de la nebulosa es capaz de emitir luz en distintas longitudes de onda en función del gas que las forma y de la energía que recibe de las estrellas de alrededor.</p>
               
                <div class="imagen_seccion4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Orion.nebula.arp.750pix.jpg/1200px-Orion.nebula.arp.750pix.jpg" alt="">
                </div>
            </div>
    
            <div>
                <div class="subtitulo_seccion4">
                    <h3>Nebulosas de reflexión</h3>
                </div>
                
                <p class="parrafo_seccion4">Las nebulosas de reflexión no reciben suficiente energía de las estrellas cercanas como para emitir luz propia. Sin embargo, sí que son capaces de reflejar la luz de las estrellas próximas. Estas nebulosas son generalmente de colores azulados, aunque también podemos encontrar nebulosas de reflexión de otros colores como en el caso de Rho Ophiuchi.</p>
            
                <div class="imagen_seccion4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/32/Reflection.nebula.arp.750pix.jpg" alt="">
                </div>
            </div>
    
            <div>
                <div class="subtitulo_seccion4">
                    <h3>Nebulosas de emisión y reflexión</h3>
                </div>
                
                <p class="parrafo_seccion4">Esta clasificación no es cerrada y, en ocasiones puede haber nebulosas que entren en dos o más categorías. Un ejemplo muy claro es la nebulosa de Orión, que combina regiones de emisión y de reflexión. El centro de la nebulosa es iluminada por las estrellas jóvenes que forman el conocido “trapecio”, mientras que el resto de la nebulosa emite luz propia. De hecho, es una de las nebulosas de emisión más brillantes y espectaculares del cielo.</p>
                <div class="imagen_seccion4">
                    <img src="https://elnidodelastronomo.files.wordpress.com/2015/11/foto-ic-405.jpg?w=300&h=193" alt="" >
                </div>
            
            </div>
    
            <div>
                <div class="subtitulo_seccion4">
                    <h3>Nebulosas oscuras</h3>
                </div>
                
                <p class="parrafo_seccion4">Las nebulosas oscuras no están asociadas a ninguna estrella. Por tanto, no están ionizadas ni reflejan la luz de ningún astro. Así pues, una nebulosa oscura es una zona de gas y polvo interestelar que no brilla ni emite luz. A través del telescopio aparecerá como una región oscura que oculta las estrellas o el gas que tiene detrás.</p>
                <div class="imagen_seccion4">
                    <img src="https://astronoo.com/images/nebuleuses/nebuleuse-tete-de-cheval.jpg" alt="">
                </div>
            </div>
            </div>
    
        </article>
        
    
    </section>

    <Footer/>
</Layout>



<style>
    #indice{
    border: 5px solid rgba(150, 165, 192, 0.795);
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    width: 82%;
    text-align: center;
}
a{
    color: white;
    margin-left: 30px;
    text-decoration: none;
}
    .seccion_1{
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}

.caja_derecha{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 2%;
}

.titulo_derecho{
    text-align: center;
}

.titulo_derecho h2{
    font-size: 28px;
    padding: 10px;
}

.parrafo_derecho{
    font-size: 18px;
    padding: 10px;
    
}
.imagen_izquierda_seccion1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.imagen_izquierda_seccion1 img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin: 10px 20px;
    border-radius: 1%;
    border: 5px solid;
}

.caja_izquierda{
    width: 40%;
    height: 100%;
    /*background-color: blueviolet;*/
    padding-top: 3%;
}

.titulo_izquierda{
    text-align: center;
}

.titulo_izquierda h3{
    /*background-color: aquamarine;*/
    font-size: 20px;
}

.parrafo_izquierda{
    /*background-color: blue;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    width: 100%;
}

.caracteristicas_nube{
    width: 100%;
    margin: 0 10px;
    /*background-color: red;*/
}

.caracteristicas_nube h4{
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
}

.caracteristicas_nube p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}

.seccion_2{
    color: rgb(255, 255, 255);
    background-color: rgb(42, 42, 42);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}
.caja_derecha_seccion2{
    width: 40%;
    height: 100%;
    padding: 0 1%;
    align-content: center;
}

.parrafo_derecha_seccion2{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 4px 0;
    width: 100%;
    font-size: 17px;
    padding: 10px;
}

.parrafo_izqueirdo_seccion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    
}
.parrafo_izqueirdo_seccion2 span{
    font-weight:bolder;
    color: rgb(186, 158, 158);
    
}
.imagen_izquierda_seccion2{
    width: 100%;
    align-items: center;
}

.imagen_izquierda_seccion2 img{
    object-fit: cover;
    width: 100%;
    margin: 5px 0;
    border: 5px solid;
    
   
}

.seccion_3{
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}
.titulo_derecho_seccion_3{
    text-align: center;
    justify-content:center;
    margin-bottom: 15px;
}
.contenido_seccion3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.caja_izqueirda_seccion3{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 3%;
}

.caja_derecha_seccion3{
    width: 50%;
    height: 100%;
    /*background-color: blueviolet;*/
    padding: 0 1%;
}

.imagen_izquierda_seccion3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.imagen_izquierda_seccion3 img{
    object-fit: cover;
    width: 100%;
    margin: 10px 20px;
    border: 5px solid;
    
}

.seccion_4{
    color: rgb(255, 255, 255);
    background-color: rgb(42, 42, 42);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;

}

.contenido_seccion4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:start;
    
}

.subtitulo_seccion4{
    text-align: center;
    margin-bottom: 10px;
    
}

.parrafo_seccion4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    padding: 7px;
    
}

.imagen_seccion4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.imagen_seccion4 img{
    object-fit: cover;
    width: 78%;
    align-items: center;
    border: 5px solid;
}

</style>