---

---

<footer>
    <p>Derechos reservados:</p>
    <p>
        KARLA YESABEL CASTRO LANDA -
        MOISES MACHORRO PORTILLA -
        AARON ALDAHIR LIMÓN PEREZ</p>
</footer>

<style>
    footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #383a4d;
    width: 100%;
    padding: .5%;
}

footer p{
    text-align: center;
    color: aliceblue;
    padding: .5%;
}
</style>