---

---
<nav class="navegacion">
    <a href="index.html" class="link">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
            <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
            <path d="M10 12h4v4h-4z" />
        </svg>
    </a>

    <a href="cuestionario.html" class="link">
        <span id="message">Cuestionario</span>
    
    </a>
        

    <a href="#indice" class="link">
        <span id="message">Indice</span>
    </a>


    <a href="cuenta.html" class="link">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
            <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
            <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
        </svg>
    </a>
</nav>

<style>
    .navegacion {
        width: 100%;
        height: 70px;
        background-color: #383a4d;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
    }

    .link {
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        transition: background-color 0.2s ease;
    }

    .link:hover {
        border-radius: 3%;
        background-color: #596c8a;
        padding-top: 25px;
        padding-bottom: 25px;
    }
</style>